a{ color: rgb(97, 97, 97);
    text-decoration: none;
font-family: Arial, sans-serif;
font-size: 14px;}

a:hover {
    text-decoration: underline;
  }

.search {
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
  }
.searchTerm {
    width: 25%;
    padding: 5px;
    height: 25px;
    outline: none;
    color:black;
    border-radius: 10px 10px; 
    width: 480px; height: 30px; 
    border: none; box-shadow: 5px 10px 10px #888888;
  }

.searchButton{
    display: inline-block;
    margin-top: 10px;
    border-color: #f2f2f2; border-radius: 5px 5px; 
    border-width: 1px; height: 36px; box-shadow: 5px 5px 5px #888888;
    font-family: Arial, Helvetica, sans-serif; font-size: 14px;
    color: #5f6368;
  }

  .footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    background-color: #f2f2f2;
  }
  
  .footerli {
    float: left;
    list-style-type: none;
  }
  
  .footerli a {
    display: block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
  }
  
  .footerli a:hover {
    text-decoration: underline;
  }